
  
  .u-section-1 {
    width: 767px;
    min-height: 339px;
    margin: 60px auto 0;
    background-position: center;
    background-color: black; 
    border-radius: 10px;
 
    
  }
  .headerUser{
   background-color:#979797; 
   ;
  }